main{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    padding: var(--section-pd);
}

/* ===== Aside ===== */

/* ----- Catogories List ----- */
.categories__list{
    margin: var(--spng__mid) 0;
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

.categories__list h3{
    text-transform: uppercase;
}

.categories__list li{
    list-style: none;
}

.categories__list a{
    text-decoration: none;
    color: var(--secondary-text-color);
}

/* ----- Filter ----- */
.categories__filter{
    border-top: var(--primary-border);
    padding: var(--spng__mid) 0;
    width: fit-content;
}

/* Sizes */
.categories__filter > p:last-of-type{
    margin-top: var(--spng__mid);
    margin-bottom: var(--spng__small);
    font-weight: 700;
    font-size: 1.25rem;
}

.categories__sizes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 11rem;
    gap: .5vw;
}

.categories__sizes p{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--primary-color);
    padding: .4rem 0;
    border-radius: var(--main-br);
    color: var(--primary-text-color);
}

/* ===== Categories Products ===== */
.categories__products{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.product-card{
    position: relative;
    width: 100%;
    min-width: 0;
    max-width: 33rem;
}

/* Images */
.product-card__image-wrapper{
    position: relative;
    overflow: hidden;
    border-radius: var(--main-br);
    margin-bottom: var(--spng__mid);
}

.product-card__image-wrapper img{
    display: block;
    object-fit: contain;
    border-radius: var(--main-br);
    width: 100%;
    height: 100%;
}

/* Titles & text */
.product-card__description{
    margin-bottom: var(--spng__small);
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    overflow-wrap: break-word;
}

/* ===== Ipad ===== */
@media (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr 2fr;
        padding: var(--section-pd);
    }

    .categories__products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    }
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        padding: var(--section-pd);
    }

    .categories__sidebar {
        margin-bottom: var(--spng__mid);
    }

    .categories__products {
        grid-template-columns: 1fr;
        gap: 2rem;
        height: auto;
        overflow-y: visible;
    }
}
